docs/examples/chart-bar-sw-characters.json
[
    {
        "id": "6cb23f28989d733d",
        "type": "inject",
        "z": "28aca5b1020ec1a4",
        "name": "Inject",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "6aaa2545ebc497d7"
            ]
        ]
    },
    {
        "id": "6aaa2545ebc497d7",
        "type": "http request",
        "z": "28aca5b1020ec1a4",
        "name": "GET SW Characters",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://swapi.dev/api/people",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 80,
        "wires": [
            [
                "650581df3aa3e266"
            ]
        ]
    },
    {
        "id": "650581df3aa3e266",
        "type": "change",
        "z": "28aca5b1020ec1a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "3c0489e86320b632",
                "3c8bd38a30f7250a"
            ]
        ]
    },
    {
        "id": "3c0489e86320b632",
        "type": "ui-chart",
        "z": "28aca5b1020ec1a4",
        "group": "b429518aee48a6fb",
        "name": "Array Bar Chart",
        "label": "chart",
        "order": 1,
        "chartType": "bar",
        "category": "Characters",
        "categoryType": "str",
        "xAxisLabel": "Characters",
        "xAxisProperty": "name",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "Height",
        "yAxisProperty": "height",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 700,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d64a12d802fc0de8",
        "type": "inject",
        "z": "28aca5b1020ec1a4",
        "name": "Clear Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 510,
        "y": 40,
        "wires": [
            [
                "3c0489e86320b632"
            ]
        ]
    },
    {
        "id": "3c8bd38a30f7250a",
        "type": "debug",
        "z": "28aca5b1020ec1a4",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "b429518aee48a6fb",
        "type": "ui-group",
        "name": "Chart Examples",
        "page": "d0621b8f20aee671",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d0621b8f20aee671",
        "type": "ui-page",
        "name": "Charts",
        "ui": "c2e1aa56f50f03bd",
        "path": "/charts",
        "icon": "home",
        "layout": "notebook",
        "theme": "5075a7d8e4947586",
        "order": 27,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c2e1aa56f50f03bd",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ],
        "showPathInSidebar": false,
        "showPageTitle": false,
        "navigationStyle": "icon",
        "titleBarStyle": "default"
    },
    {
        "id": "5075a7d8e4947586",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]