docs/examples/chart-scatter-grouped.json
[
    {
        "id": "16c2839487757a01",
        "type": "inject",
        "z": "28aca5b1020ec1a4",
        "name": "Scatter Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"series\":\"A\",\"x\":5,\"y\":84},{\"series\":\"A\",\"x\":9,\"y\":10},{\"series\":\"A\",\"x\":11,\"y\":70},{\"series\":\"B\",\"x\":12,\"y\":28},{\"series\":\"B\",\"x\":15,\"y\":35},{\"series\":\"B\",\"x\":26,\"y\":42},{\"series\":\"C\",\"x\":20,\"y\":12},{\"series\":\"C\",\"x\":24,\"y\":54},{\"series\":\"C\",\"x\":27,\"y\":60},{\"series\":\"C\",\"x\":30,\"y\":66}]",
        "payloadType": "json",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "d6ddc83bcd4de04a"
            ]
        ]
    },
    {
        "id": "d6ddc83bcd4de04a",
        "type": "ui-chart",
        "z": "28aca5b1020ec1a4",
        "group": "b429518aee48a6fb",
        "name": "Chart: Scatter",
        "label": "Scatter Plot Example",
        "order": 1,
        "chartType": "scatter",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "x",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "y",
        "yAxisProperty": "y",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 340,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "aa0ac5025fc32d7f",
        "type": "inject",
        "z": "28aca5b1020ec1a4",
        "name": "Clear Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "d6ddc83bcd4de04a"
            ]
        ]
    },
    {
        "id": "b429518aee48a6fb",
        "type": "ui-group",
        "name": "Chart Examples",
        "page": "d0621b8f20aee671",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d0621b8f20aee671",
        "type": "ui-page",
        "name": "Charts",
        "ui": "c2e1aa56f50f03bd",
        "path": "/charts",
        "icon": "home",
        "layout": "notebook",
        "theme": "5075a7d8e4947586",
        "order": 27,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c2e1aa56f50f03bd",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ],
        "showPathInSidebar": false,
        "headerContent": "none",
        "navigationStyle": "icon",
        "titleBarStyle": "default"
    },
    {
        "id": "5075a7d8e4947586",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
