docs/examples/ui-text-html-injection.json
[
    {
        "id": "ae7bd2bf8272885a",
        "type": "inject",
        "z": "9cc36e3c2b38760e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "My Payload",
        "payloadType": "str",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "829b6eb5f65d8740"
            ]
        ]
    },
    {
        "id": "829b6eb5f65d8740",
        "type": "template",
        "z": "9cc36e3c2b38760e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<a href=\"https://flowfuse.com\">{{ payload }}</a>",
        "output": "str",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "c868e2e2087184be"
            ]
        ]
    },
    {
        "id": "c868e2e2087184be",
        "type": "ui-text",
        "z": "9cc36e3c2b38760e",
        "group": "ecd8ebed2d3bfedb",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "HTML Injection Example:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "Helvetica, sans-serif",
        "fontSize": "16",
        "color": "#616161",
        "className": "",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "ecd8ebed2d3bfedb",
        "type": "ui-group",
        "name": "Text Input",
        "page": "a9b32250ebfa989b",
        "width": "6",
        "height": "",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a9b32250ebfa989b",
        "type": "ui-page",
        "name": "Template Examples",
        "ui": "c2e1aa56f50f03bd",
        "path": "/templates",
        "icon": "view-dashboard",
        "layout": "flex",
        "theme": "129e99574def90a3",
        "order": 18,
        "className": ""
    },
    {
        "id": "c2e1aa56f50f03bd",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "icon",
        "titleBarStyle": "default"
    },
    {
        "id": "129e99574def90a3",
        "type": "ui-theme",
        "name": "Another Theme",
        "colors": {
            "surface": "#000000",
            "primary": "#ff4000",
            "bgPage": "#f0f0f0",
            "groupBg": "#ffffff",
            "groupOutline": "#d9d9d9"
        },
        "sizes": {
            "pagePadding": "24px",
            "groupGap": "12px",
            "groupBorderRadius": "9px",
            "widgetGap": "6px"
        }
    }
]