cypress/fixtures/flows/context-api.json
[
    {
        "id": "node-red-tab-helper-api",
        "type": "tab",
        "label": "Helper API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "node-red-http-in-store-context",
        "type": "http in",
        "z": "node-red-tab-helper-api",
        "name": "",
        "url": "/context/flow",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 50,
        "wires": [
            [
                "fcn-store-context"
            ]
        ]
    },
    {
        "id": "fcn-store-context",
        "type": "function",
        "z": "node-red-tab-helper-api",
        "name": "function 1",
        "func": "msg.payload = {\n    msg: global.get('msg')\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 50,
        "wires": [
            [
                "node-red-http-out-store-context"
            ]
        ]
    },
    {
        "id": "node-red-http-out-store-context",
        "type": "http response",
        "z": "node-red-tab-helper-api",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 50,
        "wires": []
    },
    {
        "id": "node-red-http-in-reset-context",
        "type": "http in",
        "z": "node-red-tab-helper-api",
        "name": "",
        "url": "/context/reset",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "fcn-reset-context"
            ]
        ]
    },
    {
        "id": "fcn-reset-context",
        "type": "function",
        "z": "node-red-tab-helper-api",
        "name": "function 2",
        "func": "global.set('msg', undefined)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "node-red-http-out-reset-context"
            ]
        ]
    },
    {
        "id": "node-red-http-out-reset-context",
        "type": "http response",
        "z": "node-red-tab-helper-api",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 100,
        "wires": []
    }
]