cypress/fixtures/flows/dashboard-text.json
[
    {
        "id": "node-red-tab-text",
        "type": "tab",
        "label": "UI Text",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "dashboard-ui-page-1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "dashboard-ui-theme",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "dashboard-test-text",
        "type": "ui-group",
        "name": "UI Text Tests",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dashboard-ui-button",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "dashboard-test-text",
        "name": "",
        "label": "Inject Text",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "injected text",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "x": 100,
        "y": 80,
        "wires": [
            ["dashboard-ui-text-left"]
        ]
    },
    {
        "id": "dashboard-ui-text-left",
        "type": "ui-text",
        "z": "node-red-tab-text",
        "group": "dashboard-test-text",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Label",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 250,
        "y": 100,
        "wires": []
    },
    {
        "id": "dashboard-ui-text-center",
        "type": "ui-text",
        "z": "node-red-tab-text",
        "group": "dashboard-test-text",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Label",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": "20",
        "color": "#ff0000",
        "className": "",
        "x": 250,
        "y": 100,
        "wires": []
    }
]