cypress/fixtures/flows/dashboard-buttons.json
[
    {
        "id": "node-red-tab-buttons",
        "type": "tab",
        "label": "UI Buttons",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "test-helper",
        "type": "function",
        "z": "node-red-tab-buttons",
        "name": "Store Latest Msg",
        "func": "global.set('msg', msg)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "dashboard-ui-button-str",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button 1 (str)",
        "order": 0,
        "width": 0,
        "height": 0,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "button 1 clicked",
        "payloadType": "str",
        "topic": "button-str-topic",
        "topicType": "str",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "test-helper"
            ]
        ]
    },
    {
        "id": "2a624e92dc5a1115",
        "type": "ui-control",
        "z": "node-red-tab-buttons",
        "name": "",
        "ui": "dashboard-ui-base",
        "events": "all",
        "x": 80,
        "y": 20,
        "wires": [
            [
                "change-1"
            ]
        ]
    },
    {
        "id": "change-1",
        "type": "change",
        "z": "node-red-tab-buttons",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "msg.topic from inject-1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 80,
        "y": 60,
        "wires": [
            [
                "dashboard-ui-button-bool"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-bool",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button 1 (bool)",
        "order": 12,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 280,
        "y": 20,
        "wires": [
            [
                "test-helper"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-json",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button 1 (json)",
        "order": 0,
        "width": 0,
        "height": 0,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"hello\": \"world\"}",
        "payloadType": "json",
        "topic": "f1",
        "topicType": "flow",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "test-helper"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-global",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button 2 (global)",
        "order": 0,
        "width": 0,
        "height": 0,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "button_global_payload",
        "payloadType": "global",
        "topic": "button_global_topic",
        "topicType": "global",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "test-helper"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-no-emulate",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button 3 (no emulate click)",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "no-emulate",
        "payloadType": "str",
        "topic": "button-global-topic",
        "topicType": "str",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "test-helper"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-emulate",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button 4 (emulate click)",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "emulate",
        "payloadType": "str",
        "topic": "click",
        "topicType": "str",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "test-helper"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-trigger3",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button 3 (trigger)",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "trigger",
        "payloadType": "str",
        "topic": "trigger",
        "topicType": "str",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "dashboard-ui-button-no-emulate"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-trigger4",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button 4 (trigger)",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "trigger",
        "payloadType": "str",
        "topic": "trigger",
        "topicType": "str",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "dashboard-ui-button-emulate"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-dynamic-label",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "Dynamic Property: Label",
        "label": "Dynamic Property: Label",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "dashboard-ui-change-label"
            ]
        ]
    },
    {
        "id": "dashboard-ui-change-label",
        "type": "change",
        "z": "node-red-tab-buttons",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.label",
                "pt": "msg",
                "to": "Dynamic Button Label",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "dashboard-ui-button-dynamic"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-dynamic",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "Button Dynamic Properties",
        "label": "Button Config Label",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "button 1 clicked",
        "payloadType": "str",
        "topic": "button-str-topic",
        "topicType": "str",
        "x": 640,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "dashboard-ui-button-dynamic-icon",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "Dynamic Property: Icon",
        "label": "Dynamic Property: Icon",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "dashboard-ui-change-icon"
            ]
        ]
    },
    {
        "id": "dashboard-ui-change-icon",
        "type": "change",
        "z": "node-red-tab-buttons",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.icon",
                "pt": "msg",
                "to": "earth",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "dashboard-ui-button-dynamic"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-dynamic-icon-pos",
        "type": "ui-button",
        "z": "node-red-tab-buttons",
        "group": "dashboard-ui-group",
        "name": "Dynamic Property: Icon Position",
        "label": "Dynamic Property: Icon Position",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "dashboard-ui-change-icon-pos"
            ]
        ]
    },
    {
        "id": "dashboard-ui-change-icon-pos",
        "type": "change",
        "z": "node-red-tab-buttons",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.iconPosition",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 340,
        "wires": [
            [
                "dashboard-ui-button-dynamic"
            ]
        ]
    },
    {
        "id": "dashboard-ui-group",
        "type": "ui-group",
        "name": "Group 1",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dashboard-ui-page-1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "dashboard-ui-theme",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {"id":"03831223eea492b2","type":"inject","z":"node-red-tab-buttons","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":460,"wires":[["fb61b81a39cf56f6"]]},
    {"id":"fb61b81a39cf56f6","type":"function","z":"node-red-tab-buttons","name":"setup flow and global","func":"flow.set('f1', 'f1-value')\nflow.set('f2', 'f2-value')\nflow.set('f3', 'f3-value')\nglobal.set('g1', 'g1-value')\nglobal.set('g2', 'g2-value')\nglobal.set('g3', 'g3-value')\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":460,"wires":[[]]}
]