cypress/fixtures/flows/dashboard-i18n-ui-mode.json
[
    {
        "id": "node-red-tab-i18n-ui",
        "type": "tab",
        "label": "i18n UI Mode Testing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dashboard-ui-base-ui",
        "type": "ui-base",
        "name": "Dashboard UI Mode",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": ["ui-control", "ui-notification"],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "languages": [
            { "code": "en", "name": "English", "enabled": true },
            { "code": "fr", "name": "Français", "enabled": true },
            { "code": "es", "name": "Español", "enabled": true }
        ],
        "defaultLanguage": "en",
        "autoDetectLanguage": true
    },
    {
        "id": "dashboard-ui-theme-ui",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "dashboard-ui-page-ui",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base-ui",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "dashboard-ui-theme-ui",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "dashboard-ui-group-ui",
        "type": "ui-group",
        "name": "UI Mode Testing",
        "page": "dashboard-ui-page-ui",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "language-selector-ui",
        "type": "ui-language-selector",
        "z": "node-red-tab-i18n-ui",
        "group": "dashboard-ui-group-ui",
        "ui": "dashboard-ui-base-ui",
        "name": "UI Mode Selector",
        "label": "Language",
        "widgetType": "ui",
        "teleportTarget": "#app-bar-actions",
        "outputFormat": "code",
        "passthru": false,
        "topic": "language",
        "className": "",
        "x": 350,
        "y": 100,
        "wires": [["test-helper-ui", "language-transform-ui"]]
    },
    {
        "id": "test-helper-ui",
        "type": "function",
        "z": "node-red-tab-i18n-ui",
        "name": "Store Latest Msg",
        "func": "global.set('msg', msg)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "language-transform-ui",
        "type": "function",
        "z": "node-red-tab-i18n-ui",
        "name": "Transform Language",
        "func": "// Transform language code to ui-control format\nmsg.payload = {\n    language: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [["ui-control-language-ui"]]
    },
    {
        "id": "ui-control-language-ui",
        "type": "ui-control",
        "z": "node-red-tab-i18n-ui",
        "name": "Set Dashboard Language",
        "ui": "dashboard-ui-base-ui",
        "events": "change",
        "x": 820,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "sample-text",
        "type": "ui-text",
        "z": "node-red-tab-i18n-ui",
        "group": "dashboard-ui-group-ui",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "This is a test page with UI mode language selector",
        "translations": {
            "fr": {
                "label": "Ceci est une page de test avec sélecteur de langue en mode UI"
            },
            "es": {
                "label": "Esta es una página de prueba con selector de idioma en modo UI"
            }
        },
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 140,
        "wires": []
    }
]