cypress/fixtures/flows/dashboard-number-input.json
[
    {
        "id": "1f4fd97829933c1b",
        "type": "group",
        "z": "f4f554a38c3ce158",
        "name": "Number Input",
        "style": {
            "label": true
        },
        "nodes": [
            "d92b128565cf0da0",
            "12c2e152d27857e7",
            "1dac17139e6f07a7",
            "3b7160ef18b028fd",
            "bf5c63014c89a04b",
            "2e9d2967c7f75090",
            "07c0321d2f5f6653",
            "91363b41f01492e8",
            "2f5451b0216e7dd4",
            "605d4a5fb8802bf4",
            "696f064e3552fe7d"
        ],
        "x": 14,
        "y": 539,
        "w": 1172,
        "h": 262
    },
    {
        "id": "d92b128565cf0da0",
        "type": "function",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "name": "Store Latest Msg",
        "func": "global.set('msg', msg)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "12c2e152d27857e7",
        "type": "ui-button",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "group": "05b923de3f2d2970",
        "name": "Dynamic Property: Icon",
        "label": "Dynamic Property: Icon",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "set-icon-button",
        "icon": "home",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "1dac17139e6f07a7"
            ]
        ]
    },
    {
        "id": "1dac17139e6f07a7",
        "type": "change",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.icon",
                "pt": "msg",
                "to": "numeric",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "91363b41f01492e8"
            ]
        ]
    },
    {
        "id": "3b7160ef18b028fd",
        "type": "ui-button",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "group": "730d0fcc2b4628ba",
        "name": "Dynamic Property: Icon Position",
        "label": "Dynamic Property: Icon Position",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "set-icon-position",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "bf5c63014c89a04b"
            ]
        ]
    },
    {
        "id": "bf5c63014c89a04b",
        "type": "change",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.iconPosition",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "2f5451b0216e7dd4"
            ]
        ]
    },
    {
        "id": "2e9d2967c7f75090",
        "type": "change",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.iconInnerPosition",
                "pt": "msg",
                "to": "outside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "605d4a5fb8802bf4"
            ]
        ]
    },
    {
        "id": "07c0321d2f5f6653",
        "type": "ui-button",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "group": "6e46363f590502ee",
        "name": "Dynamic Property: Icon Inner Position",
        "label": "Dynamic Property: Icon Inner Position",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "set-icon-to-outside",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "2e9d2967c7f75090"
            ]
        ]
    },
    {
        "id": "91363b41f01492e8",
        "type": "ui-number-input",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "group": "05b923de3f2d2970",
        "name": "",
        "label": "number: Dynamic Property: Icon",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "className": "number-input-2",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 930,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "2f5451b0216e7dd4",
        "type": "ui-number-input",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "group": "730d0fcc2b4628ba",
        "name": "",
        "label": "number: Dynamic Property: Icon Position",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "className": "number-input-2",
        "clearable": false,
        "icon": "numeric",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 960,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "605d4a5fb8802bf4",
        "type": "ui-number-input",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "group": "6e46363f590502ee",
        "name": "",
        "label": "number: Dynamic Property: Icon Inner Position",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "className": "number-input-2",
        "clearable": false,
        "icon": "numeric",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 980,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "696f064e3552fe7d",
        "type": "ui-number-input",
        "z": "f4f554a38c3ce158",
        "g": "1f4fd97829933c1b",
        "group": "5107b8a93a5ac068",
        "name": "",
        "label": "number global store",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "Tooltip Text",
        "delay": 300,
        "passthru": true,
        "className": "",
        "clearable": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 620,
        "y": 580,
        "wires": [
            [
                "d92b128565cf0da0"
            ]
        ]
    },
    {
        "id": "05b923de3f2d2970",
        "type": "ui-group",
        "name": "Page1 Group2",
        "page": "9849a6ac1bf4073a",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "730d0fcc2b4628ba",
        "type": "ui-group",
        "name": "Page1 Group3",
        "page": "9849a6ac1bf4073a",
        "width": "6",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6e46363f590502ee",
        "type": "ui-group",
        "name": "Page1 Group4",
        "page": "9849a6ac1bf4073a",
        "width": "6",
        "height": "1",
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "5107b8a93a5ac068",
        "type": "ui-group",
        "name": "Page1 Group1",
        "page": "9849a6ac1bf4073a",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9849a6ac1bf4073a",
        "type": "ui-page",
        "name": "Page1",
        "ui": "a171c8195c1b8e57",
        "path": "/page1",
        "icon": "numeric-1",
        "layout": "grid",
        "theme": "9d8bfd7e0d216779",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "a171c8195c1b8e57",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-gauge",
            "ui-chart",
            "ui-form",
            "ui-text-input",
            "ui-file-input",
            "ui-button",
            "ui-button-group",
            "ui-dropdown",
            "ui-radio-group",
            "ui-slider",
            "ui-switch",
            "ui-text",
            "ui-table",
            "ui-markdown",
            "ui-notification",
            "ui-template"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "icon",
        "titleBarStyle": "fixed"
    },
    {
        "id": "9d8bfd7e0d216779",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#15617e",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]