cypress/fixtures/flows/dashboard-number-input.json
[
    {
        "id": "5b751bff9a6c7439",
        "type": "ui-number-input",
        "z": "28027232f30399b8",
        "group": "1d6b148cbc6d62ba",
        "name": "dashboard-ui-number-input",
        "label": "number global store",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "Tooltip Text",
        "passthru": true,
        "className": "number-input-1",
        "clearable": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "26ea1c6aefa94d41"
            ]
        ]
    },
    {
        "id": "26ea1c6aefa94d41",
        "type": "function",
        "z": "28027232f30399b8",
        "name": "Store Latest Msg",
        "func": "global.set('msg', msg)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2e213fbb714fa84a",
        "type": "ui-button",
        "z": "28027232f30399b8",
        "group": "1d6b148cbc6d62ba",
        "name": "Dynamic Property: Icon",
        "label": "Dynamic Property: Icon",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "set-icon-button",
        "icon": "home",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "0c4a565404e7d2c4"
            ]
        ]
    },
    {
        "id": "0c4a565404e7d2c4",
        "type": "change",
        "z": "28027232f30399b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.icon",
                "pt": "msg",
                "to": "numeric",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "3616bf2d05dc6b68"
            ]
        ]
    },
    {
        "id": "2b2c184d1e54cbf2",
        "type": "ui-button",
        "z": "28027232f30399b8",
        "group": "1d6b148cbc6d62ba",
        "name": "Dynamic Property: Icon Position",
        "label": "Dynamic Property: Icon Position",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "set-icon-position",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "2687c766dae561d2"
            ]
        ]
    },
    {
        "id": "2687c766dae561d2",
        "type": "change",
        "z": "28027232f30399b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.iconPosition",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "3616bf2d05dc6b68"
            ]
        ]
    },
    {
        "id": "3616bf2d05dc6b68",
        "type": "ui-number-input",
        "z": "28027232f30399b8",
        "group": "1d6b148cbc6d62ba",
        "name": "",
        "label": "number",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "className": "number-input-2",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 920,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "36fa206b791fbb9c",
        "type": "ui-number-input",
        "z": "28027232f30399b8",
        "group": "c8d81f5153170599",
        "name": "",
        "label": "number",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "className": "number-input-2",
        "clearable": false,
        "icon": "numeric",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 920,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2a9b0a22432ef4e9",
        "type": "change",
        "z": "28027232f30399b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.iconInnerPosition",
                "pt": "msg",
                "to": "outside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "36fa206b791fbb9c"
            ]
        ]
    },
    {
        "id": "c0770c33555a3768",
        "type": "ui-button",
        "z": "28027232f30399b8",
        "group": "c8d81f5153170599",
        "name": "Dynamic Property: Icon Inner Position",
        "label": "Dynamic Property: Icon Inner Position",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "set-icon-to-outside",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "2a9b0a22432ef4e9"
            ]
        ]
    },
    {
        "id": "1d6b148cbc6d62ba",
        "type": "ui-group",
        "name": "Page1 Group1",
        "page": "ac2a3b3768a9b00e",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c8d81f5153170599",
        "type": "ui-group",
        "name": "Page1 Group2",
        "page": "ac2a3b3768a9b00e",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ac2a3b3768a9b00e",
        "type": "ui-page",
        "name": "Page2",
        "ui": "a171c8195c1b8e57",
        "path": "/page2",
        "icon": "numeric-1",
        "layout": "grid",
        "theme": "9d8bfd7e0d216779",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a171c8195c1b8e57",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-gauge",
            "ui-chart",
            "ui-form",
            "ui-text-input",
            "ui-file-input",
            "ui-button",
            "ui-button-group",
            "ui-dropdown",
            "ui-radio-group",
            "ui-slider",
            "ui-switch",
            "ui-text",
            "ui-table",
            "ui-markdown",
            "ui-notification",
            "ui-template"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "icon",
        "titleBarStyle": "fixed"
    },
    {
        "id": "9d8bfd7e0d216779",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#15617e",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]