cypress/fixtures/flows/dashboard-number-input.json
[
    {
        "id": "efce10fee9e8e91d",
        "type": "function",
        "z": "f4f554a38c3ce158",
        "name": "Store Latest Msg",
        "func": "global.set('msg', msg)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2209fb72ae22a9e2",
        "type": "ui-button",
        "z": "f4f554a38c3ce158",
        "group": "4f87d7d9fab04a9d",
        "name": "Dynamic Property: Icon",
        "label": "Dynamic Property: Icon",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 230,
        "y": 800,
        "wires": [
            [
                "3ad8c5a73d651490"
            ]
        ]
    },
    {
        "id": "3ad8c5a73d651490",
        "type": "change",
        "z": "f4f554a38c3ce158",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.icon",
                "pt": "msg",
                "to": "numeric",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 800,
        "wires": [
            [
                "927729e90dd54c44"
            ]
        ]
    },
    {
        "id": "167c4efd3c5abd33",
        "type": "ui-button",
        "z": "f4f554a38c3ce158",
        "group": "4f87d7d9fab04a9d",
        "name": "Dynamic Property: Icon Position",
        "label": "Dynamic Property: Icon Position",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 210,
        "y": 860,
        "wires": [
            [
                "949d1411c09c7154"
            ]
        ]
    },
    {
        "id": "949d1411c09c7154",
        "type": "change",
        "z": "f4f554a38c3ce158",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.iconPosition",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 860,
        "wires": [
            [
                "927729e90dd54c44"
            ]
        ]
    },
    {
        "id": "6db1ab2724965cfe",
        "type": "change",
        "z": "f4f554a38c3ce158",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.iconInnerPosition",
                "pt": "msg",
                "to": "outside",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 920,
        "wires": [
            [
                "927729e90dd54c44"
            ]
        ]
    },
    {
        "id": "47c37fe0a80bbf88",
        "type": "ui-button",
        "z": "f4f554a38c3ce158",
        "group": "4f87d7d9fab04a9d",
        "name": "Dynamic Property: Icon Inner Position",
        "label": "Dynamic Property: Icon Inner Position",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "6db1ab2724965cfe"
            ]
        ]
    },
    {
        "id": "8425f6d80325c223",
        "type": "ui-number-input",
        "z": "f4f554a38c3ce158",
        "group": "da4b0aa545f9b323",
        "name": "",
        "label": "number global store",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "Tooltip Text",
        "delay": 300,
        "passthru": true,
        "className": "",
        "clearable": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 620,
        "y": 600,
        "wires": [
            [
                "efce10fee9e8e91d"
            ]
        ]
    },
    {
        "id": "4907a3daa2e993bd",
        "type": "ui-button",
        "z": "f4f554a38c3ce158",
        "group": "4f87d7d9fab04a9d",
        "name": "Dynamic Property: Clearable",
        "label": "Dynamic Property: Clearable",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "7a6367f473c303e3"
            ]
        ]
    },
    {
        "id": "7a6367f473c303e3",
        "type": "change",
        "z": "f4f554a38c3ce158",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.clearable",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 740,
        "wires": [
            [
                "927729e90dd54c44"
            ]
        ]
    },
    {
        "id": "927729e90dd54c44",
        "type": "ui-number-input",
        "z": "f4f554a38c3ce158",
        "group": "4f87d7d9fab04a9d",
        "name": "Number: Dynamic Property",
        "label": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 940,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "c00a96200e70a317",
        "type": "ui-button",
        "z": "f4f554a38c3ce158",
        "group": "4f87d7d9fab04a9d",
        "name": "Dynamic Property: Label",
        "label": "Dynamic Property: Label",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "80edc9655b77ee71"
            ]
        ]
    },
    {
        "id": "80edc9655b77ee71",
        "type": "change",
        "z": "f4f554a38c3ce158",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.label",
                "pt": "msg",
                "to": "Dynamic Label",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "927729e90dd54c44"
            ]
        ]
    },
    {
        "id": "4f87d7d9fab04a9d",
        "type": "ui-group",
        "name": "Number Input Dynamic Properties",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "da4b0aa545f9b323",
        "type": "ui-group",
        "name": "Number Input Global Store",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dashboard-ui-page-1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "dashboard-ui-theme",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    }
]