cypress/fixtures/flows/dashboard-switches.json
[
    {
        "id": "node-red-tab-switches",
        "type": "tab",
        "label": "UI Switches",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "dashboard-ui-page-1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "dashboard-ui-theme",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "test-helper",
        "type": "function",
        "z": "node-red-tab-switches",
        "name": "Store Latest Msg",
        "func": "global.set('msg', msg)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dashboard-ui-group",
        "type": "ui-group",
        "name": "Group 1",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dashboard-ui-button-str-on",
        "type": "ui-button",
        "z": "node-red-tab-switches",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button - On (str)",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "button-str-topic",
        "topicType": "str",
        "x": 100,
        "y": 80,
        "wires": [
            ["dashboard-ui-switch-str"]
        ]
    },
    {
        "id": "dashboard-ui-button-str-off",
        "type": "ui-button",
        "z": "node-red-tab-switches",
        "group": "dashboard-ui-group",
        "name": "",
        "label": "Button - Off (str)",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "button-str-topic",
        "topicType": "str",
        "x": 100,
        "y": 120,
        "wires": [
            ["dashboard-ui-switch-str"]
        ]
    },
    {
        "id": "dashboard-ui-switch-str",
        "type": "ui-switch",
        "z": "node-red-tab-switches",
        "name": "",
        "label": "Custom Icon (string)",
        "group": "dashboard-ui-group",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "topic",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "wifi",
        "oncolor": "green",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "wifi-off",
        "offcolor": "red",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "test-helper"
            ]
        ]
    },
    {
        "id": "dashboard-ui-group-2",
        "type": "ui-group",
        "name": "Group 2",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dashboard-ui-button-bool-on",
        "type": "ui-button",
        "z": "node-red-tab-switches",
        "group": "dashboard-ui-group-2",
        "name": "",
        "label": "Button - On (bool)",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 280,
        "wires": [
            ["dashboard-ui-switch-bool"]
        ]
    },
    {
        "id": "dashboard-ui-button-bool-off",
        "type": "ui-button",
        "z": "node-red-tab-switches",
        "group": "dashboard-ui-group-2",
        "name": "",
        "label": "Button - Off (bool)",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 320,
        "wires": [
            ["dashboard-ui-switch-bool"]
        ]
    },
    {
        "id": "dashboard-ui-switch-bool",
        "type": "ui-switch",
        "z": "node-red-tab-switches",
        "name": "",
        "label": "Standard",
        "group": "dashboard-ui-group-2",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "test-helper"
            ]
        ]
    }
]