cypress/fixtures/flows/dashboard-gauges.json
[
    {
        "id": "node-red-tab-gauges",
        "type": "tab",
        "label": "UI Gauges",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "dashboard-ui-page-1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "dashboard-ui-theme",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "dashboard-ui-group",
        "type": "ui-group",
        "name": "Group 1",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dashboard-ui-gauge-tile",
        "type": "ui-gauge",
        "z": "node-red-tab-gauges",
        "name": "Tile)",
        "group": "dashboard-ui-group",
        "order": 0,
        "width": "3",
        "height": "4",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "Tile",
        "units": "",
        "icon": "home",
        "iconPosition": "top",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "0",
                "color": "#23d123"
            },
            {
                "from": "30",
                "color": "#ffc800"
            },
            {
                "from": "60",
                "color": "#ff0000"
            },
            {
                "from": "80",
                "color": "#630808"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": "0",
        "sizeGap": "0",
        "sizeKeyThickness": "32",
        "styleRounded": false,
        "styleGlow": true,
        "className": "",
        "x": 100,
        "y": 100,
        "wires": []
    },
    {
        "id": "dashboard-ui-gauge-battery",
        "type": "ui-gauge",
        "z": "node-red-tab-gauges",
        "name": "Tile",
        "group": "dashboard-ui-group",
        "order": 0,
        "width": "3",
        "height": "4",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "Battery",
        "units": "",
        "icon": "home",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "0",
                "color": "#23d123"
            },
            {
                "from": "30",
                "color": "#ffc800"
            },
            {
                "from": "60",
                "color": "#ff0000"
            },
            {
                "from": "80",
                "color": "#630808"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": "0",
        "sizeGap": "0",
        "sizeKeyThickness": "32",
        "styleRounded": false,
        "styleGlow": true,
        "className": "",
        "x": 100,
        "y": 100,
        "wires": []
    },
    {
        "id": "dashboard-ui-gauge-tank",
        "type": "ui-gauge",
        "z": "node-red-tab-gauges",
        "name": "Tank",
        "group": "dashboard-ui-group",
        "order": 1,
        "width": "3",
        "height": "5",
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "",
        "units": "",
        "icon": "home",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "0",
                "color": "#a8f5ff"
            },
            {
                "from": "15",
                "color": "#55dbec"
            },
            {
                "from": "35",
                "color": "#53b4fd"
            },
            {
                "from": "50",
                "color": "#2397d1"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": "032",
        "sizeGap": "6",
        "sizeKeyThickness": "32",
        "styleRounded": false,
        "styleGlow": true,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "dashboard-ui-gauge-dial-half",
        "type": "ui-gauge",
        "z": "node-red-tab-gauges",
        "name": "Tile)",
        "group": "dashboard-ui-group",
        "order": 0,
        "width": "3",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Tile",
        "units": "",
        "icon": "home",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "0",
                "color": "#23d123"
            },
            {
                "from": "30",
                "color": "#ffc800"
            },
            {
                "from": "60",
                "color": "#ff0000"
            },
            {
                "from": "80",
                "color": "#630808"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": "0",
        "sizeGap": "0",
        "sizeKeyThickness": "32",
        "styleRounded": false,
        "styleGlow": true,
        "className": "",
        "x": 100,
        "y": 140,
        "wires": []
    },
    {
        "id": "dashboard-ui-gauge-dial-34",
        "type": "ui-gauge",
        "z": "node-red-tab-gauges",
        "name": "Tile)",
        "group": "dashboard-ui-group",
        "order": 0,
        "width": "3",
        "height": "4",
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Tile",
        "units": "",
        "icon": "home",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": "0",
                "color": "#23d123"
            },
            {
                "from": "30",
                "color": "#ffc800"
            },
            {
                "from": "60",
                "color": "#ff0000"
            },
            {
                "from": "80",
                "color": "#630808"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": "0",
        "sizeGap": "0",
        "sizeKeyThickness": "32",
        "styleRounded": false,
        "styleGlow": true,
        "className": "",
        "x": 100,
        "y": 180,
        "wires": []
    },
    {
        "id": "dashboard-ui-gauge-tile-update-icon",
        "type": "ui-button",
        "z": "node-red-tab-gauges",
        "group": "dashboard-ui-group",
        "name": "Update Tile Icon",
        "label": "Update Tile Icon",
        "order": 10,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "dashboard-ui-gauge-tile-change-icon"
            ]
        ]
    },
    {
        "id": "dashboard-ui-gauge-tile-change-icon",
        "type": "change",
        "z": "node-red-tab-gauges",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.icon",
                "pt": "msg",
                "to": "earth",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "dashboard-ui-gauge-tile"
            ]
        ]
    },
    {
        "id": "dashboard-ui-gauge-tile-update-icon-pos",
        "type": "ui-button",
        "z": "node-red-tab-gauges",
        "group": "dashboard-ui-group",
        "name": "Update Tile Icon Position",
        "label": "Update Tile Icon Position",
        "order": 11,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "dashboard-ui-gauge-tile-change-icon-pos"
            ]
        ]
    },
    {
        "id": "dashboard-ui-gauge-tile-change-icon-pos",
        "type": "change",
        "z": "node-red-tab-gauges",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.iconPosition",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "dashboard-ui-gauge-tile"
            ]
        ]
    }
]