cypress/fixtures/flows/dashboard-text.json
[
    {
        "id": "node-red-tab-text",
        "type": "tab",
        "label": "UI Text",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "dashboard-ui-button",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "dashboard-test-text",
        "name": "",
        "label": "Inject Text",
        "labelType": "str",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "injected text",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "dashboard-ui-text-left"
            ]
        ]
    },
    {
        "id": "dashboard-ui-text-left",
        "type": "ui-text",
        "z": "node-red-tab-text",
        "group": "dashboard-test-text",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Text Left",
        "label": "Label",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "dashboard-ui-text-center",
        "type": "ui-text",
        "z": "node-red-tab-text",
        "group": "dashboard-test-text",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Text Center",
        "label": "Label",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": "20",
        "color": "#ff0000",
        "className": "",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "button-dynamic-label",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "869909cd180dde02",
        "name": "Dynamic: Label",
        "label": "Dynamic: Label",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "4f6d5859664febc6"
            ]
        ]
    },
    {
        "id": "4f6d5859664febc6",
        "type": "change",
        "z": "node-red-tab-text",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.label",
                "pt": "msg",
                "to": "Dynamic Label",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "dashboard-ui-text-dynamic"
            ]
        ]
    },
    {
        "id": "dashboard-ui-text-dynamic",
        "type": "ui-text",
        "z": "node-red-tab-text",
        "group": "869909cd180dde02",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Dynamic Text",
        "label": "Static Label",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "Courier,monospace",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "button-dynamic-layout",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "869909cd180dde02",
        "name": "Dynamic: Layout",
        "label": "Dynamic: Layout",
        "labelType": "str",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "491f94f116d68320"
            ]
        ]
    },
    {
        "id": "491f94f116d68320",
        "type": "change",
        "z": "node-red-tab-text",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.layout",
                "pt": "msg",
                "to": "col-center",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "dashboard-ui-text-dynamic"
            ]
        ]
    },
    {
        "id": "fd61814fae69f03a",
        "type": "change",
        "z": "node-red-tab-text",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.font",
                "pt": "msg",
                "to": "Helvetica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "dashboard-ui-text-dynamic"
            ]
        ]
    },
    {
        "id": "button-dynamic-font",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "869909cd180dde02",
        "name": "Dynamic: Font",
        "label": "Dynamic: Font",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "fd61814fae69f03a"
            ]
        ]
    },
    {
        "id": "b9b646d4c3863c66",
        "type": "change",
        "z": "node-red-tab-text",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.fontSize",
                "pt": "msg",
                "to": "28",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "dashboard-ui-text-dynamic"
            ]
        ]
    },
    {
        "id": "button-dynamic-fontSize",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "869909cd180dde02",
        "name": "Dynamic: Font Size",
        "label": "Dynamic: Font Size",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "b9b646d4c3863c66"
            ]
        ]
    },
    {
        "id": "button-dynamic-color",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "869909cd180dde02",
        "name": "Dynamic: Color",
        "label": "Dynamic: Color",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "93e69c1e1ad41db5"
            ]
        ]
    },
    {
        "id": "93e69c1e1ad41db5",
        "type": "change",
        "z": "node-red-tab-text",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "dashboard-ui-text-dynamic"
            ]
        ]
    },
    {
        "id": "button-dynamic-label-no-payload",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "869909cd180dde02",
        "name": "Dynamic: No Payload",
        "label": "Dynamic: No Payload",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "df51827510c6dc80"
            ]
        ]
    },
    {
        "id": "df51827510c6dc80",
        "type": "change",
        "z": "node-red-tab-text",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.label",
                "pt": "msg",
                "to": "Dynamic Label-No Payload",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 340,
        "wires": [
            [
                "dashboard-ui-text-dynamic"
            ]
        ]
    },
    {
        "id": "button-blank-text-label",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "869909cd180dde02",
        "name": "blank text and label",
        "label": "blank text and label",
        "labelType": "str",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "eb6fd22686610fc0"
            ]
        ]
    },
    {
        "id": "eb6fd22686610fc0",
        "type": "change",
        "z": "node-red-tab-text",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_update.label",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "dashboard-ui-text-dynamic"
            ]
        ]
    },
    {
        "id": "button-inject-value-only",
        "type": "ui-button",
        "z": "node-red-tab-text",
        "group": "869909cd180dde02",
        "name": "set value only",
        "label": "set value only",
        "labelType": "str",
        "order": 9,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "injected text",
        "payloadType": "str",
        "topic": "button-topic",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "7978d19beb050c5f"
            ]
        ]
    },
    {
        "id": "7978d19beb050c5f",
        "type": "change",
        "z": "node-red-tab-text",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "injected text",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "dashboard-ui-text-dynamic"
            ]
        ]
    },

        {
            "id": "button-reset-ui-update",
            "type": "ui-button",
            "z": "node-red-tab-text",
            "group": "869909cd180dde02",
            "name": "reset ui_update",
            "label": "reset ui_update",
            "labelType": "str",
            "order": 10,
            "width": 0,
            "height": 0,
            "emulateClick": false,
            "tooltip": "",
            "color": "",
            "bgcolor": "",
            "className": "",
            "icon": "",
            "iconPosition": "left",
            "payload": "null",
            "payloadType": "json",
            "topic": "button-topic",
            "topicType": "str",
            "buttonColor": "",
            "textColor": "",
            "iconColor": "",
            "enableClick": true,
            "enablePointerdown": false,
            "pointerdownPayload": "",
            "pointerdownPayloadType": "str",
            "enablePointerup": false,
            "pointerupPayload": "",
            "pointerupPayloadType": "str",
            "x": 160,
            "y": 520,
            "wires": [
                [
                    "455b29af62f52269"
                ]
            ]
        },
        {
            "id": "455b29af62f52269",
            "type": "change",
            "z": "node-red-tab-text",
            "name": "ui_update null",
            "rules": [
                {
                    "t": "set",
                    "p": "ui_update",
                    "pt": "msg",
                    "to": "null",
                    "tot": "json"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 380,
            "y": 520,
            "wires": [
                [
                    "dashboard-ui-text-dynamic"
                ]
            ]
        },

    {
        "id": "dashboard-test-text",
        "type": "ui-group",
        "name": "UI Text Tests",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "869909cd180dde02",
        "type": "ui-group",
        "name": "Dynamic Text Element",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dashboard-ui-page-1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "dashboard-ui-theme",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    }
]