cypress/fixtures/flows/dashboard-text.json
[
  {
    "id": "node-red-tab-text",
    "type": "tab",
    "label": "UI Text",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "dashboard-ui-button",
    "type": "ui-button",
    "z": "node-red-tab-text",
    "group": "dashboard-test-text",
    "name": "",
    "label": "Inject Text",
    "order": 3,
    "width": 0,
    "height": 0,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "injected text",
    "payloadType": "str",
    "topic": "button-topic",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 90,
    "y": 80,
    "wires": [["dashboard-ui-text-left"]]
  },
  {
    "id": "dashboard-ui-text-left",
    "type": "ui-text",
    "z": "node-red-tab-text",
    "group": "dashboard-test-text",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Text Left",
    "label": "Label",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#717171",
    "className": "",
    "x": 260,
    "y": 80,
    "wires": []
  },
  {
    "id": "dashboard-ui-text-center",
    "type": "ui-text",
    "z": "node-red-tab-text",
    "group": "dashboard-test-text",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Text Center",
    "label": "Label",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": true,
    "font": "Courier,monospace",
    "fontSize": "20",
    "color": "#ff0000",
    "className": "",
    "x": 410,
    "y": 80,
    "wires": []
  },
  {
    "id": "button-dynamic-label",
    "type": "ui-button",
    "z": "node-red-tab-text",
    "group": "869909cd180dde02",
    "name": "Dynamic: Label",
    "label": "Dynamic: Label",
    "order": 2,
    "width": 0,
    "height": 0,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "",
    "payloadType": "str",
    "topic": "button-topic",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 100,
    "y": 120,
    "wires": [["4f6d5859664febc6"]]
  },
  {
    "id": "4f6d5859664febc6",
    "type": "change",
    "z": "node-red-tab-text",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.label",
        "pt": "msg",
        "to": "Dynamic Label",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 120,
    "wires": [["dashboard-ui-text-dynamic"]]
  },
  {
    "id": "dashboard-ui-text-dynamic",
    "type": "ui-text",
    "z": "node-red-tab-text",
    "group": "869909cd180dde02",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Dynamic Text",
    "label": "Static Label",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": true,
    "font": "Courier,monospace",
    "fontSize": 16,
    "color": "#717171",
    "wrapText": false,
    "className": "",
    "value": "payload",
    "valueType": "msg",
    "x": 560,
    "y": 120,
    "wires": []
  },
  {
    "id": "button-dynamic-layout",
    "type": "ui-button",
    "z": "node-red-tab-text",
    "group": "869909cd180dde02",
    "name": "Dynamic: Layout",
    "label": "Dynamic: Layout",
    "order": 3,
    "width": 0,
    "height": 0,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "",
    "payloadType": "str",
    "topic": "button-topic",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "x": 110,
    "y": 160,
    "wires": [["491f94f116d68320"]]
  },
  {
    "id": "491f94f116d68320",
    "type": "change",
    "z": "node-red-tab-text",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.layout",
        "pt": "msg",
        "to": "col-center",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 160,
    "wires": [["dashboard-ui-text-dynamic"]]
  },
  {
    "id": "fd61814fae69f03a",
    "type": "change",
    "z": "node-red-tab-text",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.font",
        "pt": "msg",
        "to": "Helvetica",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 200,
    "wires": [["dashboard-ui-text-dynamic"]]
  },
  {
    "id": "button-dynamic-font",
    "type": "ui-button",
    "z": "node-red-tab-text",
    "group": "869909cd180dde02",
    "name": "Dynamic: Font",
    "label": "Dynamic: Font",
    "order": 4,
    "width": 0,
    "height": 0,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "",
    "payloadType": "str",
    "topic": "button-topic",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "x": 100,
    "y": 200,
    "wires": [["fd61814fae69f03a"]]
  },
  {
    "id": "b9b646d4c3863c66",
    "type": "change",
    "z": "node-red-tab-text",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.fontSize",
        "pt": "msg",
        "to": "28",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 240,
    "wires": [["dashboard-ui-text-dynamic"]]
  },
  {
    "id": "button-dynamic-fontSize",
    "type": "ui-button",
    "z": "node-red-tab-text",
    "group": "869909cd180dde02",
    "name": "Dynamic: Font Size",
    "label": "Dynamic: Font Size",
    "order": 6,
    "width": 0,
    "height": 0,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "",
    "payloadType": "str",
    "topic": "button-topic",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "x": 110,
    "y": 240,
    "wires": [["b9b646d4c3863c66"]]
  },
  {
    "id": "button-dynamic-color",
    "type": "ui-button",
    "z": "node-red-tab-text",
    "group": "869909cd180dde02",
    "name": "Dynamic: Color",
    "label": "Dynamic: Color",
    "order": 5,
    "width": 0,
    "height": 0,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "",
    "payloadType": "str",
    "topic": "button-topic",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "x": 100,
    "y": 280,
    "wires": [["93e69c1e1ad41db5"]]
  },
  {
    "id": "93e69c1e1ad41db5",
    "type": "change",
    "z": "node-red-tab-text",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.color",
        "pt": "msg",
        "to": "red",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 280,
    "wires": [["dashboard-ui-text-dynamic"]]
  },
  {
    "id": "button-dynamic-label-no-payload",
    "type": "ui-button",
    "z": "node-red-tab-text",
    "group": "869909cd180dde02",
    "name": "Dynamic: No Payload",
    "label": "Dynamic: No Payload",
    "order": 7,
    "width": 0,
    "height": 0,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "",
    "payloadType": "str",
    "topic": "button-topic",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 120,
    "y": 320,
    "wires": [["df51827510c6dc80"]]
  },
  {
    "id": "df51827510c6dc80",
    "type": "change",
    "z": "node-red-tab-text",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.label",
        "pt": "msg",
        "to": "Dynamic Label-No Payload",
        "tot": "str"
      },
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 320,
    "wires": [["dashboard-ui-text-dynamic"]]
  },
  {
    "id": "button-inject-text-2",
    "type": "ui-button",
    "z": "node-red-tab-text",
    "group": "869909cd180dde02",
    "name": "",
    "label": "Inject Text 2",
    "order": 8,
    "width": 0,
    "height": 0,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "injected text",
    "payloadType": "str",
    "topic": "button-topic",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 390,
    "y": 360,
    "wires": [["dashboard-ui-text-dynamic"]]
  },
  {
    "id": "button-inject-text-3",
    "type": "ui-button",
    "z": "node-red-tab-text",
    "group": "13803e157cdb9675",
    "name": "",
    "label": "Inject Text 3",
    "order": 1,
    "width": 0,
    "height": 0,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "injected text",
    "payloadType": "str",
    "topic": "button-topic",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 90,
    "y": 400,
    "wires": [["f6a6fc8353e751c3", "dashboard-ui-text-expression-value"]]
  },
  {
    "id": "f6a6fc8353e751c3",
    "type": "function",
    "z": "node-red-tab-text",
    "name": "function 3",
    "func": "msg.formattedPayload = msg.payload.toUpperCase()\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 400,
    "wires": [["dashboard-ui-text-msg-attribute-value"]]
  },
  {
    "id": "dashboard-ui-text-msg-attribute-value",
    "type": "ui-text",
    "z": "node-red-tab-text",
    "group": "13803e157cdb9675",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Msg Attribute Value Text",
    "label": "Msg Attribute Value Text: ",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": true,
    "font": "Courier,monospace",
    "fontSize": 16,
    "color": "#717171",
    "wrapText": false,
    "className": "",
    "value": "formattedPayload",
    "valueType": "msg",
    "x": 590,
    "y": 400,
    "wires": []
  },
  {
    "id": "dashboard-ui-text-expression-value",
    "type": "ui-text",
    "z": "node-red-tab-text",
    "group": "13803e157cdb9675",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Expression Value Text",
    "label": "Expression Value Text: ",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": true,
    "font": "Courier,monospace",
    "fontSize": 16,
    "color": "#717171",
    "wrapText": false,
    "className": "",
    "value": "$join($split(msg.payload, \" \"), \"-\")\t\t",
    "valueType": "jsonata",
    "x": 580,
    "y": 440,
    "wires": []
  },
  {
    "id": "dashboard-test-text",
    "type": "ui-group",
    "name": "UI Text Tests",
    "page": "dashboard-ui-page-1",
    "width": "6",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "869909cd180dde02",
    "type": "ui-group",
    "name": "Dynamic Text Element",
    "page": "dashboard-ui-page-1",
    "width": "6",
    "height": "1",
    "order": 2,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "13803e157cdb9675",
    "type": "ui-group",
    "name": "Value Tests",
    "page": "dashboard-ui-page-1",
    "width": 6,
    "height": 1,
    "order": 3,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default"
  },
  {
    "id": "dashboard-ui-page-1",
    "type": "ui-page",
    "name": "Page 1",
    "ui": "a70f99dbb76955c9",
    "path": "/page1",
    "icon": "",
    "layout": "grid",
    "theme": "dashboard-ui-theme",
    "order": 1,
    "className": "",
    "visible": "true",
    "disabled": false
  },
  {
    "id": "a70f99dbb76955c9",
    "type": "ui-base",
    "name": "My Dashboard",
    "path": "/dashboard",
    "appIcon": "",
    "includeClientData": true,
    "acceptsClientConfig": ["ui-notification", "ui-control"],
    "showPathInSidebar": false,
    "headerContent": "page",
    "navigationStyle": "default",
    "titleBarStyle": "default",
    "showReconnectNotification": true,
    "notificationDisplayTime": 1,
    "showDisconnectNotification": true,
    "allowInstall": true
  },
  {
    "id": "dashboard-ui-theme",
    "type": "ui-theme",
    "name": "Theme Name",
    "colors": {
      "surface": "#ffffff",
      "primary": "#0094ce",
      "bgPage": "#eeeeee",
      "groupBg": "#ffffff",
      "groupOutline": "#cccccc"
    }
  },
  {
    "id": "0389ef99a3b2f11d",
    "type": "global-config",
    "env": [],
    "modules": {
      "@flowfuse/node-red-dashboard": "1.26.0"
    }
  }
]
