cypress/fixtures/flows/dashboard-chart-histogram.json
[
    {
        "id": "node-red-tab-chart-histogram",
        "type": "tab",
        "label": "UI Chart - Histogram",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dashboard-ui-button-series1-A",
        "type": "ui-button",
        "z": "node-red-tab-chart-histogram",
        "group": "dashboard-ui-group-histogram-1",
        "name": "",
        "label": "A",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "A",
        "payloadType": "str",
        "topic": "Series 1",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 910,
        "y": 840,
        "wires": [
            [
                "dashboard-ui-chart-histogram-1"
            ]
        ]
    },
    {
        "id": "dashboard-ui-chart-histogram-1",
        "type": "ui-chart",
        "z": "node-red-tab-chart-histogram",
        "group": "dashboard-ui-group-histogram-1",
        "name": "Histogram",
        "label": "Histogram",
        "order": 3,
        "chartType": "histogram",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Category",
        "xAxisProperty": "payload",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "Frequency",
        "yAxisProperty": "earnings",
        "ymin": "0",
        "ymax": "",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff00bb",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "8",
        "className": "",
        "x": 1130,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "dashboard-ui-button-series1-B",
        "type": "ui-button",
        "z": "node-red-tab-chart-histogram",
        "group": "dashboard-ui-group-histogram-1",
        "name": "",
        "label": "B",
        "order": 5,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "B",
        "payloadType": "str",
        "topic": "Series 1",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 910,
        "y": 880,
        "wires": [
            [
                "dashboard-ui-chart-histogram-1"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-series1-C",
        "type": "ui-button",
        "z": "node-red-tab-chart-histogram",
        "group": "dashboard-ui-group-histogram-1",
        "name": "",
        "label": "C",
        "order": 6,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "C",
        "payloadType": "str",
        "topic": "Series 1",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 910,
        "y": 920,
        "wires": [
            [
                "dashboard-ui-chart-histogram-1"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-series2-A",
        "type": "ui-button",
        "z": "node-red-tab-chart-histogram",
        "group": "dashboard-ui-group-histogram-1",
        "name": "",
        "label": "A",
        "order": 7,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "A",
        "payloadType": "str",
        "topic": "Series 2",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 910,
        "y": 1000,
        "wires": [
            [
                "dashboard-ui-chart-histogram-1"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-series2-B",
        "type": "ui-button",
        "z": "node-red-tab-chart-histogram",
        "group": "dashboard-ui-group-histogram-1",
        "name": "",
        "label": "B",
        "order": 8,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "B",
        "payloadType": "str",
        "topic": "Series 2",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 910,
        "y": 1040,
        "wires": [
            [
                "dashboard-ui-chart-histogram-1"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-series2-C",
        "type": "ui-button",
        "z": "node-red-tab-chart-histogram",
        "group": "dashboard-ui-group-histogram-1",
        "name": "",
        "label": "C",
        "order": 9,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "C",
        "payloadType": "str",
        "topic": "Series 2",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 910,
        "y": 1080,
        "wires": [
            [
                "dashboard-ui-chart-histogram-1"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-clear-chart",
        "type": "ui-button",
        "z": "node-red-tab-chart-histogram",
        "group": "dashboard-ui-group-histogram-1",
        "name": "",
        "label": "Clear Chart",
        "order": 10,
        "width": "6",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 910,
        "y": 1280,
        "wires": [
            [
                "dashboard-ui-chart-histogram-1"
            ]
        ]
    },
    {
        "id": "dashboard-ui-button-load-bins",
        "type": "ui-button",
        "z": "node-red-tab-chart-histogram",
        "group": "dashboard-ui-group-histogram-2",
        "name": "",
        "label": "Load Bins Data",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[{\"age\":{\"days\":45},\"version\":\"2.1.3\",\"license\":\"Free\",\"os\":\"Linux\"},{\"age\":{\"days\":120},\"version\":\"2.1.3\",\"license\":\"Paid\",\"os\":\"Mac\"},{\"age\":{\"days\":30},\"version\":\"2.4.5\",\"license\":\"Free\",\"os\":\"Windows\"},{\"age\":{\"days\":60},\"version\":\"2.4.5\",\"license\":\"Paid\",\"os\":\"Linux\"},{\"age\":{\"days\":90},\"version\":\"2.6.7\",\"license\":\"Free\",\"os\":\"Mac\"},{\"age\":{\"days\":15},\"version\":\"2.6.7\",\"license\":\"Paid\",\"os\":\"Windows\"},{\"age\":{\"days\":75},\"version\":\"2.8.9\",\"license\":\"Free\",\"os\":\"Linux\"},{\"age\":{\"days\":105},\"version\":\"2.8.9\",\"license\":\"Paid\",\"os\":\"Mac\"},{\"age\":{\"days\":135},\"version\":\"2.1.3\",\"license\":\"Free\",\"os\":\"Windows\"},{\"age\":{\"days\":25},\"version\":\"2.4.5\",\"license\":\"Paid\",\"os\":\"Linux\"},{\"age\":{\"days\":55},\"version\":\"2.6.7\",\"license\":\"Free\",\"os\":\"Mac\"},{\"age\":{\"days\":85},\"version\":\"2.8.9\",\"license\":\"Paid\",\"os\":\"Windows\"},{\"age\":{\"days\":115},\"version\":\"2.1.3\",\"license\":\"Free\",\"os\":\"Linux\"},{\"age\":{\"days\":145},\"version\":\"2.4.5\",\"license\":\"Paid\",\"os\":\"Mac\"},{\"age\":{\"days\":35},\"version\":\"2.6.7\",\"license\":\"Free\",\"os\":\"Windows\"},{\"age\":{\"days\":65},\"version\":\"2.8.9\",\"license\":\"Paid\",\"os\":\"Linux\"},{\"age\":{\"days\":95},\"version\":\"2.1.3\",\"license\":\"Free\",\"os\":\"Mac\"},{\"age\":{\"days\":125},\"version\":\"2.4.5\",\"license\":\"Paid\",\"os\":\"Windows\"},{\"age\":{\"days\":20},\"version\":\"2.6.7\",\"license\":\"Free\",\"os\":\"Linux\"},{\"age\":{\"days\":50},\"version\":\"2.8.9\",\"license\":\"Paid\",\"os\":\"Mac\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 900,
        "y": 760,
        "wires": [
            [
                "dashboard-ui-chart-histogram-2"
            ]
        ]
    },
    {
        "id": "dashboard-ui-chart-histogram-2",
        "type": "ui-chart",
        "z": "28aca5b1020ec1a4",
        "group": "dashboard-ui-group-histogram-2",
        "name": "Histogram",
        "label": "Frequency of Ages (by Version)",
        "order": 1,
        "chartType": "histogram",
        "category": "version",
        "categoryType": "property",
        "xAxisLabel": "Age of Instances (Days)",
        "xAxisProperty": "age.days",
        "xAxisPropertyType": "property",
        "xAxisType": "bins",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "Frequency",
        "yAxisProperty": "earnings",
        "xmin": "0",
        "xmax": "90",
        "ymin": "0",
        "ymax": "",
        "bins": "10",
        "action": "replace",
        "stackSeries": true,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#52b4ff",
            "#99d5ff",
            "#adddff",
            "#98df8a",
            "#ff00bb",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "9",
        "className": "",
        "x": 1090,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "dashboard-ui-group-histogram-1",
        "type": "ui-group",
        "name": "Chart - Histogram 1",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dashboard-ui-group-histogram-2",
        "type": "ui-group",
        "name": "Chart - Histogram 2",
        "page": "dashboard-ui-page-1",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dashboard-ui-page-1",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dashboard-ui-base",
        "path": "/page1",
        "icon": "",
        "layout": "grid",
        "theme": "dashboard-ui-theme",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "dashboard-ui-theme",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    }
]