examples/design-patterns.json
[
    {
        "id": "f385539f963b56ce",
        "type": "ui-text",
        "z": "3d8c801ff2007261",
        "group": "2b287eac8c5a64cd",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Your Latest Button Click:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "ae23d23cc164d27a",
        "type": "ui-button",
        "z": "3d8c801ff2007261",
        "group": "2b287eac8c5a64cd",
        "name": "",
        "label": "Click Me!",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f385539f963b56ce"
            ]
        ]
    },
    {
        "id": "a7d3cb9fc537d9bb",
        "type": "ui-slider",
        "z": "3d8c801ff2007261",
        "group": "8bee8ca608b26b77",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": true,
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "257625ee5df3a84e",
                "ea03c8bc066ebdf2",
                "5ef058757d792100"
            ]
        ]
    },
    {
        "id": "257625ee5df3a84e",
        "type": "ui-chart",
        "z": "3d8c801ff2007261",
        "group": "8bee8ca608b26b77",
        "name": "",
        "label": "chart",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "9",
        "height": 8,
        "className": "",
        "x": 330,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ce9b4c9ec9c4ed93",
        "type": "inject",
        "z": "3d8c801ff2007261",
        "name": "Clear Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "257625ee5df3a84e"
            ]
        ]
    },
    {
        "id": "8aefa358fdb6e177",
        "type": "ui-event",
        "z": "3d8c801ff2007261",
        "ui": "c2e1aa56f50f03bd",
        "name": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "0b8294025998e4be"
            ]
        ]
    },
    {
        "id": "0b8294025998e4be",
        "type": "ui-template",
        "z": "3d8c801ff2007261",
        "group": "2b287eac8c5a64cd",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <strong>msg._client:</strong>\n    <pre>{{ msg._client }}</pre>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c0a2283e528e663e",
        "type": "comment",
        "z": "3d8c801ff2007261",
        "name": "Client-Defined Data",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "c999e4c44afd670c",
        "type": "comment",
        "z": "3d8c801ff2007261",
        "name": "Shared Data (All Clients)",
        "info": "",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "6de64b0ab3a086ed",
        "type": "ui-template",
        "z": "3d8c801ff2007261",
        "group": "8bee8ca608b26b77",
        "page": "",
        "ui": "",
        "name": "Show to All",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <strong>Shared Slider Value:</strong>\n    <pre>{{ msg.payload }}</pre>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 530,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ea03c8bc066ebdf2",
        "type": "change",
        "z": "3d8c801ff2007261",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_client",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "6de64b0ab3a086ed"
            ]
        ]
    },
    {
        "id": "5ef058757d792100",
        "type": "ui-template",
        "z": "3d8c801ff2007261",
        "group": "2b287eac8c5a64cd",
        "page": "",
        "ui": "",
        "name": "Client-Driven",
        "order": 2,
        "width": "3",
        "height": "1",
        "head": "",
        "format": "<template>\n    Client Specific Slider: {{ msg.payload }}\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 530,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2b287eac8c5a64cd",
        "type": "ui-group",
        "name": "Design Pattern - Client Driven",
        "page": "1a43c75e8780fe2b",
        "width": "9",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8bee8ca608b26b77",
        "type": "ui-group",
        "name": "Design Pattern - Single Source of Truth",
        "page": "1a43c75e8780fe2b",
        "width": "9",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c2e1aa56f50f03bd",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification",
            "ui-text",
            "ui-template"
        ],
        "showPathInSidebar": true,
        "navigationStyle": "temporary",
        "titleBarStyle": "fixed"
    },
    {
        "id": "1a43c75e8780fe2b",
        "type": "ui-page",
        "name": "Design Pattern Examples",
        "ui": "c2e1aa56f50f03bd",
        "path": "/design-patterns",
        "icon": "home",
        "layout": "grid",
        "theme": "c2ff5ba1f92a0f0e",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c2ff5ba1f92a0f0e",
        "type": "ui-theme",
        "name": "Default",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]